:root {
  --MenuBackground-color: #111b21;
  --MessageBackground-color: #1b262c;
  --Messagebackground-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");

}
.container-fluid {
  height: calc(100vh - 70px);
  display: flex;

  > .chat-list {
    width: 30%;
    margin: 0px;
    background:var(--my-css-variable); // #111b21;
    border-radius: 0px;

    .chat-title {

      display: flex;
      justify-content: space-between;

      .chat-name {
        font-weight: 500;
        color: #202c33;


        .img-round {
          border-radius: 50%;
          object-fit: cover;
          margin-right:16px;
          height: 35px;
        }

      }

      .chat-date {
        font-size: 0.7rem;
        color: rgba(0,0,0,0.7)
      }

    }

    .search-input {
      margin: 10px;
      background-color: #fdfdfd;
      border-radius: 6px;
    }
  }

  > .messages {
    width: 70%;
    margin: 0px;
    border-radius: 0px;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png");

    .messages-header {
      display: flex;
      margin-bottom: 0px;
      background-color: #111b21;
      color: #aebac1;
      > img {
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
        height: 66px;

      }

      > h2 {
        margin: 0;
      }
    }

    .chat-area {
      height: calc(100vh - 270px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      overflow: auto;

      > :first-child {
        margin-top: auto;
      }

      .chat-bubble-container {

        display: flex;
        width: 100%;
        justify-content: flex-start;

        > .chat-bubble {
          background: #202c33;
          padding-top: 8px;
          padding-bottom: 18px;
          padding-left: 8px;
          padding-right: 100px;
          margin-bottom: 16px;
          border-radius: 8px;
          width: fit-content;
          color: #d2c7c7;
          position: relative;

          > .chat-time {
            position: absolute;
            bottom: 2px;
            right: 8px;
            font-size: 0.7rem;
            color: #595454;;
          }
          > .chat-sender{
            position: absolute;
            top: 2px;
            right: 8px;
            font-size: 0.7rem;
            color: #987a7a;
            padding-bottom: 10px;
          }
        }

      }

      .chat-bubble-container.sender {
        justify-content: flex-end;

        > .chat-bubble {
          background: #3f55dc;
          > .chat-sender{
            color: #3f55dc;
          }
          > .chat-time {
            color: #b0a7a7;;
          }
        }
      }

    }

    .input-area {
      min-height : 2rem !important;
      font-size: 12px;
      padding-top: 60px;
    }
  }
}

mat-form-field {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
