
<div class="container-fluid">
  <div class="chat-list mat-elevation-z5" [style.--my-css-variable]="color">
    <div class="search-input">
      <input
        type="text"
        class="form-control"
        style="background-color: #202c33; color: #dcdec6; border: 1px solid #021018; border-radius: 0px"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />
    </div>
    <mat-selection-list [multiple]="false" [formControl]="chatListControl">
      <mat-divider></mat-divider>
      <mat-list-option *ngFor="let user of allUsers | searchFilter: searchTerm" (click)="selectUser(user)">
        <p mat-line class="chat-title">
          <span class="chat-name">
            <img
              matListAvatar
              class="img-round"
              [src]="'assets/images/image-placeholder.png'"
              alt="profile"
            />
            {{ user.firstname}} {{user.lastname}}
          </span>
          <span class="chat-date">{{
          '05:30 PM'
          }}</span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5">
    <div class="messages-header" *ngIf="true">
      <img [src]="'assets/images/favicon.ico'"
           alt="profile"
      />
      <h2>{{ currentWritingUser ? currentWritingUser : 'Ndemia allgemein' }}</h2>
    </div>
    <ng-template #noChatSelected>
      <h2>Messages</h2>
    </ng-template>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngIf="true">
        <ng-container *ngIf="true">
          <div
            class="chat-bubble-container"
            *ngFor="let message of allMessages"
            [ngClass]="{ sender: message.senderId === curentUser.id}"
          >
            <div class="chat-bubble">
              <span class="chat-sender">{{getMessagesenderName(message.senderId)}}</span>
              <span class="chat-message">{{ message.message }}</span>
              <span class="chat-time">{{message.created | dateDisplay }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div #endOfChat></div>
    </div>
    <div class="input-area">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput
               class="input-height"
                placeholder="Enter your message..."
                autocomplete="off"
                [formControl]="messageControl"
                (keydown.enter)="sendMessage()"
        >
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

</div>
