<mat-toolbar style="background-color: #202c33">
  <nav style="color: #aebac1;background-color:#202c33" class="navbar">
      <div style="background-color: #111b21" [style.width]="width" id="mySidebar"  class="sidebar">
        <a href="javascript:void(0)"  (click)="closeNav()"><mat-icon>arrow_back_ios</mat-icon></a>
        <mat-divider></mat-divider>
        <a href="javascript:void(0)" (click)="navige('')">sign</a>
        <mat-divider></mat-divider>
        <a href="javascript:void(0)" (click)="navige('home')">home</a>
        <mat-divider></mat-divider>
        <a href="javascript:void(0)" (click)="navige('registration')">registrierung</a>
        <mat-divider></mat-divider>

      </div>

      <div [style.margin-left]="marginleft" id="main">

        <button (click)="openNav()" class="openbtn"> <mat-icon>menu</mat-icon> </button>
      </div>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
