<div style="background-color: #111b21" class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome!</h3>


              <!-- Sign In Form -->
              <form>
                <div style="background-color: #202c33" class="form-floating mb-3">
                  <input   type="text" class="form-control" id="floating-firstname" placeholder="name@example.com" #firstname>
                  <label  for="floatingInput">firstname</label>
                </div>
                <div style="background-color: #202c33" class="form-floating mb-3">
                <input  type="text" class="form-control" id="floating lastname" placeholder="lastname" #lastname>
                <label  for="floatingInput">lastname</label>
              </div>

                <div style="background-color: #202c33" class="form-floating mb-3">
                  <input  type="email" class="form-control" id="floatingInput" placeholder="name@example.com" #email>
                  <label  for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #password>
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPasswordc" placeholder="Password" #passwordc>
                  <label for="floatingPassword">Confirm your Password</label>
                </div>


                <div class="d-grid">
                  <button (click)="registration(firstname.value, lastname.value, email.value, password.value, passwordc.value )" style="background-color: #202c33" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign up</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
